{% extends "base.html.twig" %}

{% block stylesheets %}
    {% include '_includes/invoice_styles.html.twig'  %}
{% endblock %}

{% block body %}
    {{ parent()}}
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>{{ 'System Settings'|trans  }} </h2>
                        </div>

                    </div>
                </div>

                {{ form_start(formObj,{'attr': {
                                                'class' : '',
                                                }
                                }) }}
                <div class="form-group col-sm-6">
                    {{ form_label(formObj.CompanyName)}}
                    {{ form_widget(formObj.CompanyName,{'attr': {
                                                'class' : "form-control",
                                                }
                                              }) }}
                    <div class="text-danger"> {{ form_errors(formObj.CompanyName) }}</div>
                </div>
                <div class="form-group col-sm-6">
                    {{ form_label(formObj.CompanyAddress)}}
                    {{ form_widget(formObj.CompanyAddress,{'attr': {
                                                'class' : "form-control",
                                                }
                                              }) }}
                    <div class="text-danger"> {{ form_errors(formObj.CompanyAddress) }}</div>
                </div>
                    <div class="form-group col-sm-3">
                        {{ form_label(formObj.CompanyTaxID)}}
                        {{ form_widget(formObj.CompanyTaxID,{'attr': {
                                                'class' : "form-control",
                                                }
                                              }) }}
                        <div class="text-danger"> {{ form_errors(formObj.CompanyTaxID) }}</div>
                    </div>

                    <div class="form-group col-sm-2">
                        {{ form_label(formObj.DefaultCurrency)}}
                        {{ form_widget(formObj.DefaultCurrency,{'attr': {
                                                'class' : "form-control",
                                                }
                                              }) }}
                        <div class="text-danger"> {{ form_errors(formObj.DefaultCurrency) }}</div>
                    </div>       

                    <div class="form-group col-sm-4">
                        {{ form_label(formObj.CompanyAccount)}}
                        {{ form_widget(formObj.CompanyAccount,{'attr': {
                                                'class' : "form-control",
                                                }
                                              }) }}
                        <div class="text-danger"> {{ form_errors(formObj.CompanyAccount) }}</div>
                    </div>     

                    <div class="form-group col-sm-4">
                        {{ form_label(formObj.DefaultVat)}}
                        {{ form_widget(formObj.DefaultVat,{'attr': {
                                                'class' : "form-control",
                                                'min' : 0,
                                                'max' : 99
                                                }
                                              }) }}
                        <div class="text-danger"> {{ form_errors(formObj.DefaultVat  ) }}</div>
                    </div> 
                    <div class="form-group col-sm-4">
                        {{ form_label(formObj.DefaultDueDateDays)}}
                        {{ form_widget(formObj.DefaultDueDateDays,{'attr': {
                                                'class' : "form-control",
                                                'min' : 1,
                                                'max' : 90
                                                }
                                              }) }}
                        <div class="text-danger"> {{ form_errors(formObj.DefaultDueDateDays  ) }}</div>
                    </div> 
                    <div class="footer">
                        <a href="{{ path("invoice_list") }}" />  <input type="button" class="btn btn-default" value="{{ 'Cancel'|trans }}"></a>
                        <input type="submit" class="btn btn-info" value="{{ 'Save'|trans }}">
                    </div>
                    {{ form_end(formObj) }}


                </div>
            </div>        
        </div>
    {% endblock %}